@import url("../../assets/bootstrap.css");

ion-content ion-toolbar {
  --background: translucent;
}

ion-content{
  --background: #f9f9ff;
}

// WELCOME POST
.container-fluid{
  margin: 2vh auto 0 !important;
}

.welcome-post{
  position: relative;
  overflow: hidden;
}

.welcome-post:hover img{
  transform: scale(1.045);
  transition: ease-in-out;
}
                                                                 
.welcome-post .post-content {
  position: absolute;
  width: 80%;
  bottom: 10%;
  left: 10%;      
  z-index: 5;
}

.welcome-post .post-content .tag{
  background-color: #e20378;
  width: 88px;
  height: 25px;
  color: #fff;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 15px;
}

.welcome-post .post-content .post-title{
  background-color: #231f1f;
  opacity: 0.8;
  padding: 0 15px 5px;
  font-size: 25px;
  color: #fff;
  display: inline-block;
}

.category{
  display: inline-block;
}

.category .nav{
  margin-bottom: 31px;
  padding-bottom: 0px;
  position: relative;
  border: 0;
  display: flex;
  justify-content: center;
  background: #faf4f4;
}

.category .nav a{
  display: block;
  text-transform: capitalize;
  font-size: 12px;
  color: rgba(49,69,106,1);
    box-shadow:  4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0 rgba(255,255,255,1),
                0.5px 0.5px 0 rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.01);
    border-radius: 3xp;
}

.category .nav a:hover{
  transform: scale(1.2);
}


// trends
.trends-section{
  margin: 8vh 0 0;
  padding: 20px;
  background: #fff;
}

.trends-section-title{
  font-size: 14px;
  font-weight: 600;
  background: #161a29;
  border-left: 3px solid #ff1857;
  opacity: 5;
  color: #fff;
  padding: 10px 25px;
  text-transform: capitalize;
}

.trends{
  position: relative;
  overflow: hidden;
}

.trends:hover img{
  transform: scale(1.045);
  transition: ease-in-out;
}

.trends .trends-content {
  position: absolute;
  width: 80%;
  bottom: 10%;
  left: 10%;
  z-index: 5;
}

.trends .trends-content .trends-tag{
  background-color: #e20378;
  width: 88px;
  height: 25px;
  color: #fff;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 15px;
}

.trends .trends-content .trends-title{
  background-color: #231f1f;
  opacity: 0.8;
  padding: 0 15px 5px;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
}

// Latest Section
.latest-section{
  margin: 3vh 0 0;
  padding: 20px;
  background: #fff;
}

a{
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

.card:hover{
  transform: scale(1.045);
  transition: ease-in-out;
}


// Subsribe section

.subsribe-section{
  margin: 3vh 0 50vh;
  padding: 20px;
  background: #fff;
}
